.landing-page header {
  box-shadow: 0px 0px 10px;
}
.login-btn {
  border-radius: 5px;
}
.signup-btn {
  background-color: slategrey;
  border-radius: 5px;
}
.signup-btn:hover {
  background-color: lightgrey;
}
.features {
  margin-bottom: 3rem;
}
.card {
  box-shadow: 0 1px 5px;
  padding: 2rem 1rem;
}
